<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>


</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="topbar">
                <div class="content-topbar container h-100">
                    <div class="left-topbar">

                    </div>


                    <div class="right-topbar">
                        <a href="#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="wrap-logo container">
                <!-- Logo desktop -->
                <div class="logo">
                    <a href="index.html">
                        <img src="~/images/icons/aaa.png" />
                    </a>
                </div>


                <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                    <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
                    <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </div>

            </div>



            <!--  -->
            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">
                        <a class="logo-stick" href="index.html">
                            <img src="images/icons/aaa.png" alt="LOGO">
                        </a>

                        <ul class="main-menu">
                            <li class="main-menu-active">
                                <a href="index.html">Anasayfa</a>
                            </li>

                            <li class="menu-item">
                                <a href="category-01.html">Müzik</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">Pop</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-1" role="tab">Rock</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-2" role="tab">Caz</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-3" role="tab">Klasik</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-4" role="tab">Rap</a>

                                    </div>

                                </div>
                            </li>


                            <li class="menu-item">
                                <a href="category-01.html">Spor</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist" style="background-color:white">
                                        <a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">Futbol</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-1" role="tab">Basketbol</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-2" role="tab">Voleybol</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-3" role="tab">Tenis</a>

                                    </div>

                                </div>
                            </li>

                            <li class="menu-item">
                                <a href="category-01.html">Aile</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist" style="background-color:white">
                                        <a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">Gösteri</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-1" role="tab">Sirk</a>
                                        <a class="nav-link" data-toggle="pill" href="#news-2" role="tab">Tiyatro</a>

                                    </div>

                                </div>
                            </li>


                            <li class="menu-item">
                                <a href="#">Admin</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist" style="background-color:white">
                                        <a class="nav-link" asp-page="/Admin/Bilet/Index">Bilet</a>
                                        <a class="nav-link" asp-page="/Admin/Etkinlik/Index">Etkinlik</a>
                                        <a class="nav-link" asp-page="/Admin/Sanatci/Index">Sanatci </a>
                                        <a class="nav-link" asp-page="/Admin/Mekan/Index">Mekan</a>

                                    </div>

                                </div>
                            </li>

                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>



        <div class="bg11">
            <div class="container size-h-4 flex-c-c p-tb-15">
                <span class="f1-s-1 cl0 txt-center">
                    Copyright © 2018

                    <a href="#" class="f1-s-1 cl10 hov-link1">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </span>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <script src="~/js/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
